/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');

/* Tailwind core */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font */
body {
  font-family: "Public Sans", sans-serif;
}
